body {
    height: 100px;

    header {
        h1 {
            font-size: 3rem;
            color: $color14;
        }
        button {
            margin: 2rem;
            padding: 0.5rem 1rem;
            background-color: $color13;
        }
    }
}